# Dossiers de builds
target/
builds/

# Fichiers et dossiers generes a la compilation
*.log
dependency-reduced-pom.xml
logs/
# externalResources/
src/test/resources/MGD81/out/
src/test/resources/cfpoint/out/
# src/test/resources/medatlas/out/
# src/test/resources/odv/out/

# Mais inclure les fichiers readme.md dans ce repertoire et ses sous-repertoires
# !src/test/resources/medatlas/out/odv/profile/readme.md

# Fichiers de runtime
octopusDB/
*.csv

# Fichiers de backup 
*.back

.m2/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/.apt_generated_tests/
