<?xml version="1.0" encoding="UTF-8"?>


<Configuration status="WARN" strict="true" name="XMLConfigTest"  packages="fr.ifremer.octopus.view">


	<Appenders>

		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout>
		<pattern>%d{HH:mm:ss}- %-5.7level - %-30.30c{1} - %msg%n</pattern>
			</PatternLayout> 
			
		</Console>
		<RollingFile name="RollingFile" fileName="logs/octopus.log"
			filePattern="logs/octopus-%d{yyyy-MM-dd}-%i.log.zip">
			<PatternLayout>
				<pattern>%d{HH:mm:ss}- %-5.7level - %-30.30c{1} - %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
		</RollingFile>
		
        <TextAreaAppender name="JavaFXLogger" >
            <PatternLayout pattern="%d{HH:mm:ss}- %-5.7level - %-30.30c{1} - %msg%n"/>
        </TextAreaAppender>
        
        
        <File name="jsonAppender" fileName="logs/log.json">
   			<JSONLayout />
  		</File>
  
  
  
    </Appenders>
    


	<Loggers>
<!-- 	default level is INFO -->
		<Root level="INFO">
<!--             <AppenderRef ref="JavaFXLogger"/> -->
			<AppenderRef ref="Console" level="INFO" />
			<AppenderRef ref="RollingFile" level="INFO" />
			
		</Root>
		  <Logger name="JSON_FILE_APPENDER" level="INFO"  additivity="false">
          <AppenderRef ref="jsonAppender" level="INFO"/>
        </Logger>
	</Loggers>
</Configuration>