<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">




	<Appenders>

		<Console name="Console" target="SYSTEM_OUT" follow="true">
<!-- 			<PatternLayout pattern="%d{HH:mm:ss} [octopus] %-5level %c20.30c{1} %L - %msg%n" />for debug only (%L cost) -->
<!-- 			<PatternLayout pattern="%d{HH:mm:ss} [octopus] %-5.5level %-20.20c{1} - %-30.50msg%n" /> -->
			<PatternLayout>
<!-- 				<pattern>%d{HH:mm:ss}- %-5.7level - %msg%n</pattern> -->
	<pattern>%d{HH:mm:ss}- %-5.7level - %-30.30c{1} - %msg%n</pattern>
			</PatternLayout> 
			
		</Console>
		<RollingFile name="RollingFile" fileName="logs/octopus.log"
			filePattern="logs/$${date:yyyy-MM}/octopus-%d{yyyy-MM-dd}-%i.log.zip">
			<PatternLayout>
				<pattern>%d{HH:mm:ss}- %-5.7level - %-30.30c{1} - %msg%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
		</RollingFile>
	</Appenders>


	<Loggers>
<!-- 	default level is INFO -->
		<Root level="INFO">
			<AppenderRef ref="Console" level="INFO" />
			<AppenderRef ref="RollingFile" level="INFO" />
		</Root>
	</Loggers>
</Configuration>