<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Properties>
		<Property name="filename">octopus.log</Property>
	</Properties>



	<Appenders>

		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="%d{HH:mm:ss}  %-5level - %msg%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="logs/octopus.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="2 MB" />
			</Policies>
		</RollingFile>
	</Appenders>


	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" level="DEBUG" />
			<AppenderRef ref="RollingFile" level="DEBUG" />
		</Root>
	</Loggers>
</Configuration>