
/*
 * fonce #6c3390
 * clair #7f007f
 */
AnchorPane{
	-fx-background-color: #ffffff;
}



/**menus + labels*/
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #6c3390;
    -fx-opacity: 1;
}

.description{
	-fx-font-size: 9pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-style: italic;
    -fx-text-fill: #6c3390;
    -fx-opacity: 1;
}


/**radio buttons labels */
RadioButton{
	  -fx-text-fill: #6c3390;
}


/** ================= menu bar==================== */
.menu-bar {
    -fx-background-color: #7f007f;
     -fx-text-fill: #ffffff;
    
}

.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Light";
    -fx-opacity: 0.9;
     -fx-text-fill: #ffffff;
}
.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #7f007f;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}


.menu-item .label{
        -fx-text-fill: #ffffff;
}
 



/** ================= text-field ==================== */
.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: linear-gradient(#c17bc0, #7f007f);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#deb5de, #b427b2);
}
.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #7f007f;
  }
.button:disabled, .button:default:disabled {
    -fx-opacity: 0.6;
    -fx-background-color: #e8d2e8;
    -fx-text-fill: white;
}



.choice-box .context-menu .label {
  -fx-text-fill: #ffffff;
}


/*








.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}
*/
.list-cell {
    -fx-base: #ffffff;
    -fx-control-inner-background: #ffffff;
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 0;
     -fx-text-fill: black;
}
.list-cell:selected {
    -fx-background-color: #d0d1d2;
}





.table-view {
    -fx-base: #ffffff;
    -fx-control-inner-background: #ffffff;
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 0;
}

.table-view:focused .table-row-cell:filled:selected {
    -fx-background-color: #465561;
}
.aboutName{
		-fx-font-size: 40pt;
    -fx-font-family: "Segoe UI Semibold";
        -fx-text-fill: #465561;
}
.aboutVersion{
	-fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
}
.aboutTitle{
	-fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #465561;
}
.panelH1{
	-fx-font-size: 21pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #6c3390;
}
