<!DOCTYPE html>
<html lang="fr">
<head>
<style>
body {
	font-size: 12px;
	 font-family: sans-serif;
	}
h4   {color: #6c3390;}
h5   {color: #6c3390;}

</style>
</head>

<body>
<p>Octopus is a multiformat splitter & converter tool for SeaDataNet format.
It is a unique and ergonomic tool for many format conversions.
The following conversions are possible with Octopus:
<ul>
<li>Non SDN MedAtlas to SDN MedAtlas</li>
<li>Non SDN MedAtlas to SDN ODV</li>
<li>Non SDN MedAtlas to SDN NetCDF</li>
<li>SDN MedAtlas to SDN ODV</li>
<li>SDN MedAtlas to SDN NetCDF</li>
<li>SDN ODV to SDN NetCDF</li>
<li>SDN NetCDF to SDN ODV</li>
</ul>
And for marine geophysical data:
<ul>
<li>MGDv81 to SDN ODV</li>
<li>MGDv98 to SDN ODV</li>
</ul>
Octopus also allows :
<ul>
<li>to split a multistation file into monostation ones</li>
<li>to extract 1 to n stations from a multistation file and export them into another multistation file or several monostation ones</li>
<li>to check the compliance of MedAtlas and ODV formats</li>
<li>to generate the SDN coupling table</li>
</ul>

</p>
</body>



 	

</body>