<!DOCTYPE html>
<html lang="fr">
<head>
<style>
body {
	font-size: 12px;
	 font-family: sans-serif;
	}
h4   {color: #6c3390;}
h5   {color: #6c3390;}

</style>
</head>

<body>
<p>
OCTOPUS est un outil unique qui permet de nombreuses conversions de formats SeaDataNet.
OCTOPUS permet les conversions suivantes :
<ul>
<li>MedAtlas non SDN vers MedAtlas SDN</li>
<li>MedAtlas non SDN vers ODV SDN</li>
<li>MedAtlas non SDN vers NetCDF SDN (CFPOINT)</li>
<li>MedAtlas SDN vers ODV SDN</li>
<li>MedAtlas SDN vers NetCDF SDN</li>
<li>ODV SDN vers NetCDF SDN</li>
<li>NetCDF SDN vers ODV SDN</li>
</ul>
Et pour les donn&eacute;es de g&eacute;ophysique marine:
<ul>
<li>MGDv81 vers ODV SDN</li>
<li>MGDv98 vers ODV SDN</li>
</ul>
OCTOPUS permet aussi:
<ul>
<li>de transformer un fichier multi-stations vers 1 &#224; n fichiers mono-station</li>
<li>d'extraire 1 &#224; n stations d'un fichier multi-stations et de les exporter vers un autre fichier multi-stations ou vers 1 &#224; n fichiers mono-station</li>
<li>de v&eacute;rifier la conformit&eacute; des formats MedAtlas SDN et ODV SDN</li>
<li>de g&eacute;n&eacute;rer la "coupling table" pour SDN</li>
</ul>
</p>
 	

</body>